{% extends "base.html" %}

{% block content %}
<p class="title is-2 is-spaced has-text-centered">
  Создание вопроса
</p>
<form method="POST" action="{{ url_for('admin_panel.create_question', theme_id=theme_id) }}">
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label has-text-weight-medium">Вопрос</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control">
          <input class="input" type="text" name='question' value="{{ question }}" required>
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label has-text-weight-medium">Варианты ответа</label>

    </div>

    <div class="field-body" style="display: block;">
      <div class="field has-addons" style="margin: 0; margin-bottom: 0.5rem; height: 40px;">
        <p class="control is-expanded">
          <input class="input" type="text" name='new_answer_name' required>
        </p>
        <p class="control">
          <label class="checkbox" style="height: 100%;">
            <input id="checkbox-value" type="hidden" name="new_answer_correct" value="False">
            <input id="checkbox" type="checkbox" style="width: 40px; height: 40px;" onClick="stateCheckbox(this)">
          </label>
        </p>
        <p class="control">
          <button class="delete is-medium mx-2" aria-label="delete" style="top: 50%; margin-top: -12px;"></button>
        </p>
      </div>
      <div id='buttons' class="field is-grouped is-flex-direction-row is-justify-content-space-between">

        <p class="control is-left">
          <a class="button is-link is-left" onClick="createDiv()">
            Добавить вариант ответа
          </a>
        </p>
        <div class='field is-grouped has-addons-right'>
          <p class="control is-right">
            <button class="button is-success">
              Сохранить
            </button>
          </p>
          <p class="control">
            <button class="button is-danger">
              Удалить вопрос
            </button>
          </p>
        </div>
      </div>

    </div>

  </div>
</form>
{% endblock %}