{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}
<div class='title is-2 is-spaced has-text-centered'>{{ event.theme }}</div>
<form method="POST" action="{{ url_for('main.check_result', id=event.id) }}">
<div class="content">
    {% set box_color = '' %}
    {% set checked = '' %}
    {% set text_color = '' %}
    {% set disabled = '' %}
        <ol type="1" class='mx-0'>
            {% for question in questions %}
            {% if right_questions is defined %}
                {% if question.id in right_questions %}
                    {% set box_color = 'has-background-success-light' %}
                {% else %}
                    {% set box_color = 'has-background-danger-light' %}
                {% endif %}
            {% endif %}
            <div class='box {{ box_color }}'>
            
            <div class='box has-background-info-light'>
                <li style="list-style-position: inside;">{{ question }}</li>
                <input type="hidden" name='question' value='{{ question.id }}'>
            </div>
            <div class="content mx-5">

            {% for answer in question.answers %}
            {% if user_answers is defined %} 
                {% set disabled = 'disabled' %}
                {% if answer.name in user_answers[answer.question_id] %}
                    {% set checked = 'checked' %}
                    {% if answer.correct != True %}
                        {% set text_color = 'has-text-danger' %}
                    {% endif %}
                {% endif %}
                {% if answer.correct == True %}
                    {% set text_color = 'has-text-success' %}
                {% endif %}
            {% endif %}
            <p style="display: table-row;">
                <div style="display: table-cell; vertical-align: middle;"><input type="checkbox" name='{{ question.id }}' id='{{ answer.id }}' value='{{ answer }}' {{ checked }} {{ disabled }}></div>
                <div class='px-4' style="display: table-cell;"><label class="checkbox {{ text_color }}" for='{{ answer.id }}'>{{ answer }}</label></div>
            </p>
            {% endfor %}
    
            </div>
        </div>
            {% endfor %}
        </ol>
        {% if result is defined %}
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
              <section class="modal-card-body">
                {% if result >= event.number_of_correct %}
                    Поздравляю! Ваш результат <b>{{ result }}</b> баллов. Этого достаточно для успешного прохождения тестирования.
                {% else %}
                    Для положительного результата необходимо набрать {{ event.number_of_correct }} баллов. <br> 
                    Ваш результат - {{ result }}. 
                    <a href="{{ url_for('main.execute_event', id=event.id) }}">Пройдите тестирование еще раз</a>
                {% endif %}
                </section>
              <footer class="modal-card-foot">
                <button class="button" onClick='closeModal(this)'>Закрыть</button>
              </footer>
            </div>
          </div>
        {% endif %}
        <div class="field is-grouped is-justify-content-space-between">
            {% if result is defined %}
            <p class="control">
                <a class="button is-success" href="{{ url_for('main.execute_event', id=event.id) }}">
                  Повторить
                </a>
            </p>
            {% else %}
            <p class="control">
                <button class="button is-link">
                  Подтвердить
                </button>
            </p>
            {% endif %}
            <p class="control">
                <a class="button" href="{{ url_for('main.profile') }}">
                  Отменить
                </a>
            </p>
        </div>
</div>

</form>
{% endblock %}