{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Список тем
</h1>
<div class="columns is-multiline">
    
{% for theme in all_themes %}
<div class="column is-3 has-text-centered">
    <div class='box has-text-centered has-background-light' style='height: 150px; overflow: hidden; width: 100%; min-height: 36px; position: relative;'> 
            <a class="delete" style='position: absolute; right: 5px; top: 5px;' href="{{ url_for('admin_panel.delete_theme', id=theme.id) }}"></a>  
            <a class='' style='position: absolute; right: 0; left: 0; top: 50%; transform: translate(0, -50%)' href="{{ url_for('admin_panel.show_theme', id=theme.id) }}">
                <p class='is-size-5'>    
                    {{ theme }}          
                </p>
            </a>             
    </div>
</div>    
{% endfor %}

<div class="column is-3 has-text-centered">
    <form method="POST" action="{{ url_for('admin_panel.create_theme') }}">
        <div class="field" style="display: table; width: 100%;">
            <div class="control box p-0 mb-2" style='height: 150px;'>
                <textarea class="textarea" placeholder="Добавить тему" name="theme" style="height: 100%; width: 100%;"></textarea>
                
            </div>
            <button class="button is-info is-rounded" style='text-align: center;'>Добавить</button>
        </div>    
        
        
    </form>
</div>  
</div>
{% endblock %}








<!-- {% for theme in all_themes %}
<div class="column is-3 has-text-centered">
    <div class='box has-background-link' style="height: 150px; display: table; width: 100%; padding: 0.25rem;"> 
        <span style='display: table-cell; vertical-align: middle;'>
            <a class='has-text-light' href="{{ url_for('main.show_theme', id=theme.id) }}">
                <p class='is-size-5'>    
                    {{ theme }}          
                </p>
            </a>
        </span> 
        <button class="delete" style="float: right"></button>            
    </div>
</div>    
{% endfor %} -->